<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your QR Code</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="result">
    <h1>QR Code Generated</h1>
    <p>For URL: <%= url %></p>
    <img src="/qr.png" alt="QR Code">
    <br><br>
    <a href="/">Generate another QR</a>
  </div>
</body>
</html>
